#widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}


.app-view-enabled_btn {
    background-color : #03234b;
    border: 0;
}

.app-view-disabled_btn {
    background-color : #808080;
    border: 0;
}
